<!--div style="float: right">
  <input type="button" value="Toggle Dark BG" (click)="toggleBackGround()" />
  <input type="button" value="Toggle Font Size" (click)="toggleFontSize()" />
</div-->
<h1 [ngClass]="current_classes" [ngStyle]="current_style">These are our Receipes</h1>

<app-recipe-summary *ngFor="let recipe of recipes" [recipe]="recipe" (zoonIn)="zoomInOnRecipe(recipe)"></app-recipe-summary>

<div style="clear: both"></div>
<div class="newrecipe panel panel-default">
  <div class="panel-heading">
    <h4>Add New Recipe</h4>
  </div>
  <div class="panel-body">
    <div class="input-group">
      <input [(ngModel)]="recipe_in_progress.title" type="text" class="form-control" placeholder="Recipe Title" name="title" />
    </div>
    <div class="input-group">
      <textarea [(ngModel)]="recipe_in_progress.description" rows="5" class="form-control" placeholder="Decription"
        name="decription"> </textarea>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="recipe_in_progress.feeds_this_many" placeholder="Feed How Many"
        name="feeds_this_many" />
      <span class="input-group-addon">people</span>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="recipe_in_progress.preparation_time" placeholder="Preparation Time"
        name="preparation_time" />
      <span class="input-group-addon">minutes</span>
    </div>
    <div class="input-group">
      <input type="button" value="Add Recipe" (click)="addRecipeClicked()" />
    </div>
  </div>
</div>
